<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="" alt=""> <!-- Logo -->
        <nav>
            
        </nav>
    </header>
    <main>
        <section>
            <img src="" alt=""> <!-- Imagen de presentacion-->
        </section>
        <section>
            <i></i>
            <article>Producto1</article>
            <article>Producto2</article>
            <article>Producto3</article>
            <article>Producto4</article>
            <i></i>
        </section>
        <section>
            <img src="" alt=""><img src="" alt="">
        </section>
        
    </main>
    
    <footer>

    </footer>
</body>
</html>